* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-bg-color: #746a64;
  --primary-text-color: #757575;
  --dark-color-one: #000000;
  --dark-color-two: #212121;
  --light-color: #ffffff;
}
